/*CSS BIODATA*/
.background1 {
  background-color: rgb(202, 183, 12);
}
.navbar {
  background-color: rgb(175, 164, 7);
}
.fotoku {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.title {
  font-family: "Quicksand", sans-serif;
  margin-top: 15px;
  color: rgb(66, 66, 62);
}

#gambar {
  height: 65vh;
}

#teks {
  color: rgb(92, 92, 85);
  padding-top: 10px;
  font-family: "Quicksand", sans-serif;
}

#keahlian {
  color: rgb(92, 92, 85);
  padding-top: 10px;
  font-family: "Quicksand", sans-serif;
}
.keahlian1 {
  font-family: "Quicksand", sans-serif;
  font-size: 50;
}

#education {
  color: rgb(92, 92, 85);
  padding-top: 10px;
  font-family: "Quicksand", sans-serif;
}
.pendidikan {
  color: rgb(92, 92, 85);
  padding-top: 10px;
  font-family: "Quicksand", sans-serif;
}
.pendidikan1 {
  color: rgb(92, 92, 85);
  padding-top: 10px;
  font-family: "Quicksand", sans-serif;
}

.kontak {
  font-family: "Quicksand", sans-serif;
  padding-top: 10px;
  color: rgb(92, 92, 85);
}
.kontak1 {
  font-family: "Quicksand", sans-serif;
}
.kontak2 {
  font-family: "Quicksand", sans-serif;
}
.kontak3 {
  font-family: "Quicksand", sans-serif;
}
.kontak4 {
  font-family: "Quicksand", sans-serif;
}

/* ------------------------------------------------------------------------------------------------------ */
/*CSS PORTOFOLIO*/
.background {
  background-color: rgb(112, 209, 196);
}

.nama {
  padding-top: 75px;
  font-size: 50;
  font-family: Georgia;
  text-align: center;
}

/*TENTANG SAYA*/
.table1 {
  background-color: rgb(166, 245, 218);
  text-align: center;
}

/*PENGALAMAN*/
.table2 {
  background-color: rgb(166, 245, 218);
  text-align: center;
}
.table2-1 {
  background-color: rgb(166, 245, 218);
  text-align: center;
}
.table2-2 {
  background-color: rgb(166, 245, 218);
  text-align: center;
}

/*SKILL*/
.table3 {
  background-color: rgb(166, 245, 218);
}
.table3a {
  background-color: rgb(166, 245, 218);
}
