/*CSS BIODATA*/
.background1 {
  background-color: rgb(202, 183, 12);
}

.nama {
  padding-top: 10px;
  font-size: 50;
  color: rgb(66, 66, 62);
}

.foto {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 200px;
  height: 250px;
  margin-left: 10px;
}

.saya {
  color: rgb(92, 92, 85);
  font-family: georgia;
  margin-left: 10px;
}
.saya1 {
  margin-left: 10px;
  text-align: justify;
  font-family: georgia;
  font-size: 50;
}
.keahlian {
  margin-left: 10px;
  padding-top: 10px;
  color: rgb(92, 92, 85);
  font-family: georgia;
}
.keahlian1 {
  font-family: georgia;
  font-size: 50;
}

.pendidikan {
  margin-left: 10px;
  color: rgb(92, 92, 85);
  padding-top: 10px;
  font-family: georgia;
}
.pendidikan1 {
  font-family: georgia;
  font-size: 50;
}

.kontak {
  margin-left: 10px;
  font-family: georgia;
  padding-top: 10px;
  color: rgb(92, 92, 85);
}
.kontak1 {
  margin-left: 10px;
  font-family: georgia;
}
.kontak2 {
  margin-left: 10px;
  font-family: georgia;
}
.kontak3 {
  margin-left: 10px;
  font-family: georgia;
}
.kontak4 {
  margin-left: 10px;
  font-family: georgia;
}

.list {
  padding-top: 10px;
}

/*CSS PORTOFOLIO*/
.background {
  background-color: rgb(112, 209, 196);
}

.nama {
  padding-top: 75px;
  font-size: 50;
  font-family: Georgia;
  text-align: center;
}

/*TENTANG SAYA*/
.table1 {
  background-color: rgb(166, 245, 218);
  text-align: center;
}

/*PENGALAMAN*/
.table2 {
  background-color: rgb(166, 245, 218);
  text-align: center;
}
.table2-1 {
  background-color: rgb(166, 245, 218);
  text-align: center;
}
.table2-2 {
  background-color: rgb(166, 245, 218);
  text-align: center;
}

/*SKILL*/
.table3 {
  background-color: rgb(166, 245, 218);
}
.table3a {
  background-color: rgb(166, 245, 218);
}
